<!DOCTYPE html>
<html lang="pt-br">

<head>
</head>

<body>
    <div class="container">
        <div class="card text-start">
            <div class="" style="background-repeat: no-repeat;display: block;">
                <div style=" margin-left: 20%; margin-right: auto;background-repeat: no-repeat;height: auto;width: 1415px;">
                    <div class='container' style="text-align: center;margin-right: 30%;">
                        <br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br>
                        <br><br><br><br>
                        <h1>#{email}</h1>
                        <img src=" #{url}"/>
                        <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>